
body{
    background: linear-gradient(135deg, #2b5876 0%, #4e4376 100%);
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedor {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.card{
    background: rgba(255, 255, 255, 0.627);
    padding: 2rem;
    border: #a3a3a4 1px solid;
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
    color: #262626;
}

.input {
    margin-bottom: 1rem;
    text-align: left;
}

.oculto {
    display: none !important;
}

.usuarioCreado{
    color: green;
    font-weight: bold;
}
.error{
    color: red;
    font-weight: bold;
}

.player {
    background: #ffffffd0;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.cover img {
    width: 100%;
    border-radius: 10px;
}

.barra-container {
    width: 100%;
    height: 8px;
    background: #555;
    border-radius: 5px;
    margin: 15px 0;
    overflow: hidden;
}

.barra-progreso {
    height: 8px;
    width: 0%;
    background: #00ff88;
    transition: width 0.2s linear;
}

.controles button {
    background: #00ff88;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
}

.controles button:hover {
    background: #00cc66;
}

.logout {
    margin-top: 20px;
    text-align: center;
}
.logout .boton {
    background: #dad9d9;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(78, 77, 77);
    align-self: start;
}